<h1><%=@article.title%></h1>
<p><%=@article.content%></p>
<form method="delete" action="/articles/<%=@articles.id%>">
  <!-- <input id="hidden" type="hidden" name="_method" value="PATCH"> -->
  <button id="hidden" type="submit" value="delete"></button>
</form>
